*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.classpath
/.project
/build/
/.gradle/
/bin/
.idea/compiler.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/Recolonize_main.iml
.idea/modules/Recolonize_test.iml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
Recolonize.eml
/gradlew.bat
.idea/
.settings/org.eclipse.jdt.core.prefs
.settings/org.scala-ide.sdt.core.prefs
Recolonize.iml
Recolonize.ipr
Recolonize.iws
out/
project/
target/
/gradlew
/.settings/org.eclipse.jdt.groovy.core.prefs
projectFilesBackup/
